/ Nav
%nav#nav.skel-layers-fixed
  %ul
    %li.active= link_to image_tag('min_logo.png'), root_path
    %li= link_to 'О нас', root_path(anchor: 'about_us')
    %li= link_to 'Наши услуги', root_path(anchor: 'services')
    %li= link_to 'Галерея', albums_path
    %li= link_to 'Новости', news_index_path
    %li= link_to 'Контакты', root_path(anchor: 'contacts')

/mini header
#banner-wrapper
