<div class="row 200%">
	<div class="12u">
		
		<!-- Highlight -->
			<section class="box highlight" id="o_nas">
				<h2 class="major"><span>О нас</span></h2>
				
				<p>
					Наше ивент агенство предлагает.....<br />
					Мы такие и такие и такие....
					Наше ивент агенство предлагает.....<br />
					Мы такие и такие и такие....
				</p>
			</section>
			<section class="box highlight" id="services">
				<h2 class="major"><span>Наши услуги</span></h2>
				<ul class="special">
					<li><a href="services/organization" class="icon fa-key" id="usl_organization"></a><span class="label">Организация от А до Я</span></li>
					<li><a href="services/ceremony" class="icon fa-heart" id="usl_ceremony"></a><span class="label">Выездная церемония</span></li>
					<li><a href="services/floristics" class="icon fa-leaf" id="usl_flower"></a><span class="label">Флористика</span></li>
					<li><a href="services/hall_decoration" class="icon fa-cutlery" id="usl_hall"></a><span class="label">Оформление зала</span></li>
					<li><a href="services/coordination" class="icon fa-users" id="usl_coordination"></a><span class="label">Координация</span></li>
				</ul>
				<ul class="special">
					<li><a href="services/photographer" class="icon fa-camera" id="usl_photo"></a><span class="label">Фотограф</span></li>
					<li><a href="services/videographer" class="icon fa-video-camera" id="usl_video"></a><span class="label">Видеограф</span></li>
					<li><a href="services/leading" class="icon fa-microphone" id="usl_lead"></a><span class="label">Ведущий праздника</span></li>
					<li><a href="services/music" class="icon fa-music" id="usl_music"></a><span class="label">Музыка</span></li>
					<li><a href="services/show_program" class="icon fa-star" id="usl_show"></a><span class="label">Шоу программа</span></li>
					<li><a href="services/cortege" class="icon fa-car" id="usl_auto"></a><span class="label">Кортеж</span></li>	
				</ul>
				<ul class="special">
					<li><a href="services/photozone" class="icon fa-smile-o" id="usl_photozone"></a><span class="label">Фотозона</span></li>
					<li><a href="services/candy_bar" class="icon fa-birthday-cake" id="usl_bar"></a><span class="label">Candy Bar/ Cheese Bar</span></li>
					<li><a href="services/style" class="icon fa-female" id="usl_style"></a><span class="label">Стиль молодоженов</span></li>
					<li><a href="services/wedding_printing" class="icon fa-newspaper-o" id="usl_polygraphy"></a><span class="label">Свадебная полиграфия</span></li>
					
				</ul>
			</section>

	</div>
</div>
<div class="row 200%">
	<div class="12u">

		<!-- Features -->
			<section class="box features" id="gallery">
				<h2 class="major"><span>Галерея</span></h2>
				<div>
					<div class="row">
						<% @albums.each do |album| %>
							<div class="3u">
							
							<!-- Feature -->
							
								<section class="box feature">
									<a href="#" class="image featured">
										<% if album.image_stored? %>
											<%= image_tag album.image.url %>	
										<% else %>
											<%= image_tag 'no-image.png' %>
										<% end %>
									</a>
									<h3><a href="#"><%= album.name %></a></h3>
									<p>
										<%= album.description %>

									</p>
									<p><%= link_to 'Show', album %></p>
								</section>
							
						</div>
						<% end %>
						
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><a href="/albums" class="button big">Посмотреть все альбомы</a></li>
								<!--<li><a href="#" class="button alt big">Think About It</a></li>-->
							</ul>
						</div>
					</div>
				</div>
			</section>

	</div>
</div>
<div class="row 200%">
	<div class="12u">

		<!-- Blog -->
			<section class="box blog" id="news">
				<h2 class="major"><span>Новости</span></h2>
				<div>
					<div class="row">
						<div class="9u">
							<div class="content content-left">
							
								<!-- Featured Post -->
								<%= render 'news/featured', novelty: @latest_news.first %>
							
							</div>
						</div>
						<div class="3u">
							<div class="sidebar">
								<!-- News -->
								<%= render 'news/latest', news: @latest_news[1..-1] %>
							</div>
						</div>
					</div>
				</div>
			</section>
		
	</div>
</div>
