
<div class="row 200%">
	<div class="12u">
		<!-- Highlight -->
			<section class="box highlight" id="about_us">
				<h2 class="major"><span>О нас</span></h2>
				
				<p>
					Наше ивент агенство предлагает.....<br />
					Мы такие и такие и такие....
					Наше ивент агенство предлагает.....<br />
					Мы такие и такие и такие....
				</p>
			</section>
			<section class="box highlight" id="services">
				<h2 class="major"><span>Наши услуги</span></h2>
				<ul class="special">
						<%= render 'services/list'%>
					</section>
				</ul>
			</section>

	</div>
</div>
<div class="row 200%">
	<div class="12u">

		<!-- Features -->
			<section class="box features" id="gallery">
				<h2 class="major"><span>Галерея</span></h2>
				<div>
					<div class="row">
						<% @albums.each do |album| %>
							<div class="3u">
							
							<!-- Feature -->
							
								<section class="box feature">
									<a href="#" class="image featured">
										<% if album.image_stored? %>
											<%= link_to album do %>
												<%= image_tag album.image.url, :class => 'image featured' %>
											<% end %>	
										<% else %>
											<%= image_tag 'no-image.png' %>
										<% end %>
									</a>
									<h3><%= link_to album do %>
											<%= album.name %>
										<% end %>
									</h3>
									<p>
										<%= album.description %>
									</p>
									
								</section>

							</div>
						<% end %>
						
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><a href="/albums" class="button big">Посмотреть все альбомы</a></li>
								<!--<li><a href="#" class="button alt big">Think About It</a></li>-->
							</ul>
						</div>
					</div>
				</div>
			</section>

	</div>
</div>
<div class="row 200%">
	<div class="12u">

		<!-- Blog -->
			<section class="box blog" id="news">
				<h2 class="major"><span>Новости</span></h2>
				<div>
					<div class="row">
						<div class="9u">
							<div class="content content-left">
							
								<!-- Featured Post -->
								<%= render 'news/featured', novelty: @latest_news.first %>
							
							</div>
						</div>
						<div class="3u">
							<div class="sidebar">
								<!-- News -->
								<%= render 'news/latest', news: @latest_news[1..-1] %>
							</div>
						</div>
					</div>
				</div>
			</section>
		
	</div>
</div>
