<!DOCTYPE HTML>

<html>
	<head>
		<title>Only One</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="javascripts/jquery.min.js"></script>
		<script src="javascripts/jquery.dropotron.min.js"></script>
		<script src="javascripts/skel.min.js"></script>
		<script src="javascripts/skel-layers.min.js"></script>
		<script src="javascripts/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="stylesheets/skel.css.scss" />
			<link rel="stylesheet" href="stylesheets/stat_pages.css.scss" />
			<link rel="stylesheet" href="stylesheets/style-desktop.css.scss" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

	<!-- Header -->
			
		<!-- Nav -->
			<nav id="nav" class="skel-layers-fixed">
				<ul>
					<li><a href="#">OnlyOne</a></li>
					<li><a href="#o_nas">О нас</a></li>
					<li><a href="#uslugi">Наши услуги</a></li>
					<li><a href="#gallery">Галерея</a></li>
					<li><a href="#news">Статьи</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</nav>
		
		<!-- Banner -->
			<div id="banner-wrapper">
				<section id="banner">
					<!--<h2>OnlyOne logo</h2>-->
					<p><img src="images/logo.png"></p>
					<p>Ивент агенство Ивент агентсво ивент агенство</p>
					<a href="#" class="button">Связаться с нами</a>
				</section>
			</div>

		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">
						<div class="12u">
							
							<!-- Highlight -->
								<section class="box highlight" id="o_nas">
									<h2 class="major"><span>О нас</span></h2>
									
									<p>
										Наше ивент агенство предлагает.....<br />
										Мы такие и такие и такие....
										Наше ивент агенство предлагает.....<br />
										Мы такие и такие и такие....
									</p>
								</section>
								<section class="box highlight" id="uslugi">
									<h2 class="major"><span>Наши услуги</span></h2>
									<ul class="special">
										<li><a href="#" class="icon fa-key" id="usl_organization"></a><span class="label">Организация от А до Я</span></li>
										<li><a href="#" class="icon fa-heart" id="usl_ceremony"></a><span class="label">Выездная церемония</span></li>
										<li><a href="#" class="icon fa-leaf" id="usl_flower"></a><span class="label">Флористика</span></li>
										<li><a href="#" class="icon fa-cutlery" id="usl_hall"></a><span class="label">Оформление зала</span></li>
										<li><a href="#" class="icon fa-users" id="usl_coordination"></a><span class="label">Координация</span></li>
									</ul>
									<ul class="special">
										<li><a href="#" class="icon fa-camera" id="usl_photo"></a><span class="label">Фотограф</span></li>
										<li><a href="#" class="icon fa-video-camera" id="usl_video"></a><span class="label">Видеограф</span></li>
										<li><a href="#" class="icon fa-microphone" id="usl_lead"></a><span class="label">Ведущий праздника</span></li>
										<li><a href="#" class="icon fa-music" id="usl_music"></a><span class="label">Музыка</span></li>
										<li><a href="#" class="icon fa-star" id="usl_show"></a><span class="label">Шоу программа</span></li>
										<li><a href="#" class="icon fa-car" id="usl_auto"></a><span class="label">Кортеж</span></li>	
									</ul>
									<ul class="special">
										<li><a href="#" class="icon fa-smile-o" id="usl_photozone"></a><span class="label">Фотозона</span></li>
										<li><a href="#" class="icon fa-birthday-cake" id="usl_bar"></a><span class="label">Candy Bar/ Cheese Bar</span></li>
										<li><a href="#" class="icon fa-female" id="usl_style"></a><span class="label">Стиль молодоженов</span></li>
										<li><a href="#" class="icon fa-newspaper-o" id="usl_polygraphy"></a><span class="label">Свадебная полиграфия</span></li>
										
									</ul>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Features -->
								<section class="box features" id="gallery">
									<h2 class="major"><span>Галерея</span></h2>
									<div>
										<div class="row">
											<% @albums.each do |album| %>
											<div class="3u">
												
												<!-- Feature -->
												
													<section class="box feature">
														<a href="#" class="image featured">
															<% if album.image_stored? %>
    															<%= image_tag album.image.url %>
															<% else %>
    															<%= image_tag 'no_image.png' %>
															<% end %>
														</a>
														<h3><a href="#"><%= album.name %></a></h3>
														<p>
															<%= album.description %>

														</p>
														<p><%= link_to 'Show', album %></p>
													</section>
												
											</div>
											<% end %>
											
										</div>
										<div class="row">
											<div class="12u">
												<ul class="actions">
													<li><a href="#" class="button big">Посмотреть все альбомы</a></li>
													<!--<li><a href="#" class="button alt big">Think About It</a></li>-->
												</ul>
											</div>
										</div>
									</div>
								</section>

						</div>
					</div>
					<div class="row 200%">
						<div class="12u">

							<!-- Blog -->
								<section class="box blog" id="news">
									<h2 class="major"><span>Статьи</span></h2>
									<div>
										<div class="row">
											<div class="9u">
												<div class="content content-left">
												
													<!-- Featured Post -->
														<article class="box post">
															<header>
																<h3><a href="#">Главная новость</a></h3>
																<p>Открытие сайта</p>
																<ul class="meta">
																	<li class="icon fa-clock-o">15 minutes ago</li>
																	<li class="icon fa-comments"><a href="#">8</a></li>
																</ul>
															</header>
															<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
															<p>
																Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва.... Спешим вас обрадовать запуском сайта нашего ивент-агентсва....
															</p>
															<a href="#" class="button">Читать далее</a>
														</article>
												
												</div>
											</div>
											<div class="3u">
												<div class="sidebar">
											
													<!-- Archives -->
														<ul class="divided">
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость2</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">6 hours ago</li>
																		<li class="icon fa-comments"><a href="#">34</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость3</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">9 hours ago</li>
																		<li class="icon fa-comments"><a href="#">27</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость4</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">Yesterday</li>
																		<li class="icon fa-comments"><a href="#">184</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость5</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">2 days ago</li>
																		<li class="icon fa-comments"><a href="#">286</a></li>
																	</ul>
																</article>
															</li>
															<li>
																<article class="box post-summary">
																	<h3><a href="#">Новость6</a></h3>
																	<ul class="meta">
																		<li class="icon fa-clock-o">3 days ago</li>
																		<li class="icon fa-comments"><a href="#">8,086</a></li>
																	</ul>
																</article>
															</li>
														</ul>
														<a href="#" class="button alt">Посмотреть все</a>
												
												</div>
											</div>
										</div>
									</div>
								</section>
							
						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
		<%= render 'shared/footer' %>

	</body>
</html>