<article class="box post">
  <header>
    <h3><%= link_to novelty.title, news_path(novelty) %></h3>
    <p><%= novelty.description.split[0..34].join(' ') %>...</p>
    <ul class="meta">
      <li class="icon fa-clock-o"><%= time_ago_in_words(novelty.created_at) %></li>
    </ul>
  </header>
    <div>
      <%= link_to news_path(novelty) do %>
        <%= (image_tag novelty.image.url, :class => "news_image_mainp", alt: novelty.title) if novelty.image_stored? %></a>
      <% end %>
    </div>
  <%= button_to "Читать далее", news_path(novelty), :class => "button", :method => :get  %>
</article>
