<ul class="divided">
  <% @news.each do |novelty| %>
    <li>
      <article class="box post-summary">
        <h3><a href="#"><%= novelty.title %></a></h3>
        <%= (image_tag novelty.image.url, size: "100x100", alt: novelty.title) if novelty.image_stored? %>
        <p>
          <%= novelty.description.split[0..32].join(' ') %>...
        </p>
        <ul class="meta">
          <li class="icon fa-clock-o"><%= time_ago_in_words(novelty.created_at) %></li>
        </ul>
      </article>
      <a href=<%= news_path novelty %> class="button alt">Подробнее</a>
    </li>
  <% end %>
</ul>
