<h1>Albums#index</h1>
<p>Список всех альбомов здесь!</p>



<div>
<% @albums.each do |album| %>

  <p><%= album.name %></p>
  <p><%= album.description %></p>

<p><% if album.image_stored? %>
    <%= image_tag album.image.url, height: 200 %>
<% else %>
    <%= image_tag 'no_image.png', height: 200 %>
<% end %></p>
<p><%= link_to 'Show', album %></p>

<% end %>
</div>