


		<section class="box features" id="gallery">
			<div class="row">
				<% @albums.each do |album| %>
					<div class="3u">
						<section class="box feature">
							
								<% if album.image_stored? %>
									<%= link_to album do %>
										<%= image_tag album.image.url, :class => 'image featured' %>
									<% end %>
								<% else %>
    								<%= image_tag 'no_image.png' %>
								<% end %>
									<p><%= link_to album do %>
											<%= album.name %>
										<% end %>
									</p>
  									<p><%= album.description %></p>
									
							
						</section>
					</div>
				<% end %>
			</div>
		</section>
	
