<!DOCTYPE HTML>

<html>
  <head>
    <title>Only One</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="homepage">

    <!-- Nav -->
    <nav id="nav" class="skel-layers-fixed">
      <ul>
        <li><a href="#">OnlyOne</a></li>
        <li><a href="#o_nas">О нас</a></li>
        <li><a href="#services">Наши услуги</a></li>
        <li><a href="#gallery">Галерея</a></li>
        <li><a href="#news">Новости</a></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>
    </nav>

    <!-- Banner -->
    <div id="banner-wrapper">
      <section id="banner">
        <!--<h2>OnlyOne logo</h2>-->
        <p><img src="images/logo.png"></p>
        <p>Ивент агенство Ивент агентсво ивент агенство</p>
        <a href="#" class="button">Связаться с нами</a>
      </section>
    </div>

    <!-- Main -->
    <div id="main-wrapper">
      <div id="main" class="container">

    <%= yield %>

      </div>
    </div>

    <!-- Footer -->
    <%= render 'shared/footer' %>

  </body>
</html>
