<!DOCTYPE HTML>

<html>
  <head>
    <title>Only One</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="homepage">    
    <% if #current_page?(controller: 'stat_pages', action: 'home') %>
    <%= render 'shared/main_header' %>
    <% else %>
    <%= render 'shared/header' %>
    <% end %>

    <!-- Main -->
    <div id="main-wrapper">
      <div id="main" class="container">

    <%= yield %>

      </div>
    </div>

    <!-- Footer -->
    <%= render 'shared/footer' %>

  </body>
</html>
